$colorMain = #6E6D72;
$colorMainLight = #8e867d;
$colorHeader = white;
$colorTitle = black;
$colorTitleNote = #A39D96;
$colorLight = #999999;
$colorBackground = #34B8FF;
$colorBorder = #e8ddd1;
$colorYellow = #FF8521;
$colorGrayLight = #F9FBFD;
$colorShadow = rgba(0, 0, 0, 0.3);
$fontSizeL = 32px;
$fontSizeN = 28px;
$fontSizeS = 24px;
$fontSizeHeader = 36px;
$fontIconLarge = 44px;
.main-class
    width 100%;
    height 100%;
    padding 0;
    margin 0;
    font-size $fontSizeN;
    color $colorMain;
    font-family 'PingFang SC';
.font-large
    font-size $fontSizeL;
.font-normal
    font-size $fontSizeN;
.font-small
    font-size $fontSizeS;
.flex-center
    display flex;
    justify-content center;
    align-items center;
    text-align center;
.flex-common
    display flex;
    align-items center;
    width max-content;
.flex-column
    display flex;
    flex-direction column;
.flex-space-between
    display flex;
    justify-content space-between;
    align-items center;
.flex-space-around
    display flex;
    justify-content space-around;
    align-items center;
.flex-end
    display flex;
    justify-content flex-end;
    align-items center;
.flex-wrap
    display flex;
    flex-wrap wrap;
.flex-nowrap
    display flex;
    flex-wrap nowrap;
.flex-grow
    flex-grow 1;
    flex-shrink 1;
.flex-no-grow
    flex-grow 0;
    flex-shrink 0;
.flex-const
    flex-grow 0;
    flex-shrink 0;
.word-wrap
    word-break break-all;
    white-space pre-wrap;
.no-wrap
    word-break keep-all;
    white-space nowrap;
    word-wrap normal;
.ellipsis
    overflow hidden;
    text-overflow ellipsis;
.fixed
    position fixed;
.cursor
    cursor pointer;
.block
    display block;
.inline-block
    display inline-block;
.scroll
    overflow auto;
.relative
    position relative;
