.ss-icon-message
    background-image url('../images/icons/icon_message.png')
.ss-icon-bind
    background-image url('../images/icons/icon_bind.png')
.ss-icon-clock
    background-image url('../images/icons/icon_clock.png')
.ss-icon-bespeak-menu
    background-image url('../images/icons/icon_bespeak_menu.png')
.ss-icon-shotinfo-menu
    background-image url('../images/icons/icon_shotinfo_menu.png')
.ss-icon-create-menu
    background-image url('../images/icons/icon_create_menu.png')
.ss-icon-feedback-menu
    background-image url('../images/icons/icon_feedback_menu.png')
.ss-icon-check-menu
    background-image url('../images/icons/icon_check_menu.png')
.ss-icon-bespeakeb-menu
    background-image url('../images/icons/icon_bespeakeb_menu.png')
.ss-icon-msgconfig-menu
    background-image url('../images/icons/icon_msgconfig_menu.png')
.ss-icon-message-menu
    background-image url('../images/icons/icon_message_menu.png')
.ss-icon-mrc-menu
    background-image url('../images/icons/icon_mrc_menu.png')
.ss-icon-shotpaper-menu
    background-image url('../images/icons/icon_shotpaper_menu.png')
.ss-icon-school-menu
    background-image url('../images/icons/icon_school_menu.png')
.ss-icon-ask-menu
    background-image url('../images/icons/icon_ask_menu.png')
.ss-icon-knowledge-menu
    background-image url('../images/icons/icon_knowledge_menu.png')
.ss-icon-more-menu
    background-image url('../images/icons/icon_more_menu.png')
.ss-icon-common-menu
    background-image url('../images/icons/icon_common_menu.png')
.ss-icon-bespeak-more
    background-image url('../images/icons/icon_bespeak_more.png')
.ss-icon-bespeak-time
    background-image url('../images/icons/icon_bespeak_time.png')
.ss-icon-bespeak-bact
    background-image url('../images/icons/icon_bespeak_bact.png')
.ss-icon-qrcode
    background-image url('../images/icons/icon_qrcode.png')
.ss-icon-write
    background-image url('../images/icons/icon_write.png')
.ss-icon-adult-unselected
    background-image url('../images/icons/icon_adult_unselected.png')
.ss-icon-adult-selected
    background-image url('../images/icons/icon_adult_selected.png')
.ss-icon-child-unselected
    background-image url('../images/icons/icon_child_unselected.png')
.ss-icon-child-selected
    background-image url('../images/icons/icon_child_selected.png')
.ss-icon-index-unselected
    background-image url('../images/icons/icon_index_unselected.png')
.ss-icon-index-selected
    background-image url('../images/icons/icon_index_selected.png')
.ss-icon-station-unselected
    background-image url('../images/icons/icon_station_unselected.png')
.ss-icon-station-selected
    background-image url('../images/icons/icon_station_selected.png')
.ss-icon-mine-unselected
    background-image url('../images/icons/icon_mine_unselected.png')
.ss-icon-mine-selected
    background-image url('../images/icons/icon_mine_selected.png')
.ss-icon-bespeak-note
    background-image url('../images/icons/icon_bespeak_note.png')
.ss-icon-bespeak-shot
    background-image url('../images/icons/icon_bespeak_shot.png')
.ss-icon-bespeak-clock
    background-image url('../images/icons/icon_bespeak_clock.png')
.ss-icon-hot
    background-image url('../images/icons/icon_hot.png')
.ss-icon-station
    background-image url('../images/icons/icon_station.png')
.ss-icon-address
    background-image url('../images/icons/icon_address.png')
.ss-icon-station-time
    background-image url('../images/icons/icon_station_time.png')
.ss-icon-bespeak
    background-image url('../images/icons/icon_bespeak.png')
.ss-icon-adult-ydjc
    background-image url('../images/icons/icon_adult_ydjc.png')
.ss-icon-home
    background-image url('../images/icons/icon_home.png')
